.navBar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(128, 197, 244);
    box-shadow: -4px 2px 40px 0px rgb(128, 197, 244);
    padding: 15px 30px;
    border-radius: 8px;
}
.navBar h1{
    color: #4b4;
    font-style: italic;
}
.logo1 {
    max-width: 120px;
    border-radius: 5px;
    max-height: 80px;
}
.navBar button{
    color: #4b4;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 5px;
    height: 50px;
}
.categories{
    text-decoration: none;
    font-size: 10px;
    color:#4b4
    
}
.categories &:hover{
    cursor: pointer;
}
NavLink{
    text-decoration: none;
}